.compte {
    background: rgba(255, 255, 0, 0.8);
    display: flex;
    flex-direction: column;
}

.form {
    display: flex;
    flex-direction: column;
}

.formConnexion {
    border: 4px solid #000000;
    padding: 100px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}

.formUpdateUser input,
.formConnexion input,
button {
    padding: 20px;
    margin: 10px;
}

h2 {
    font-size: 40px;
}

.formInfo {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    padding: 20px;
    border: 3px solid black;
    box-shadow: 0 0 5px black;
    border-radius: 10px;
    animation: none;
    width: 80%;
    height: auto;
    background-color: rgba(0, 0, 0, 0.5);
    margin-bottom: 15px;
    color: white;
}

.formInfo a {
    text-decoration: none;
    color: white;
    font-size: 1.5em;
    transition: 0.5s;
}

.formInfo a:hover {
    text-shadow: 0 0 10px red;
}

.formInfo p {
    width: 80%;
    opacity: 1;
    text-shadow: 1px 1px #555555, -1px 1px #555555, 1px -1px #555555, -1px -1px #555555, 1px 1px 5px #555555;
    font-size: 1.2em;
    color: white;
}

.formInfo p:nth-child(1),
.formInfo p:nth-child(2) {
    animation: appear 5s 1 backwards;
}


/*********************************INDEX****************************************************/

.Userindex {
    display: flex;
    flex-direction: column;
    background-color: #1cf50866;
}

.indexUser {
    display: flex;
    flex-direction: row;
    color: white;
}

.indexUser li {
    list-style: none;
    padding-right: 20px;
}


/**********************************POP UP***************************************************/

#sectionVendeur {
    display: flex;
    flex-direction: column;
    list-style: none;
}

#myModal,
#myBtn {
    justify-content: center;
    align-items: center;
    justify-items: center;
    align-self: center;
    text-align: center;
    margin-bottom: 20px;
}

.close {
    float: right;
    font-size: 50px;
}

#myBtn {
    border: none;
    background-color: #1cf50866;
    border-radius: 10px;
    font-size: 25px;
    font-weight: bold;
}


/*************************MESSAGERIE******************************************************/

.sectionMessagerie li {
    list-style: none;
}

.liMessageTitle {
    border: none;
}

.messageDestinataire {
    color: pink;
    text-align: left;
    font-size: large;
    border: 1px solid black;
    border-radius: 5px;
}

.messageUtilisateur {
    color: blue;
    text-align: right;
    border: 1px solid black;
    border-radius: 5px;
}

#content {
    font-size: 20px;
    align-content: right;
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
}

#formMessagerie {
    display: flex;
    flex-direction: column;
}

#contenu {
    font-size: 15px;
    padding: 20px;
}

#messagerie {
    display: block;
    overflow: auto;
}


/*****************TO DO LIST***************************************************************/

.sectionTdl li {
    list-style: none;
}

.sectionTdl input {
    border: none;
}

#tableLists {
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-content: space-around;
}

.list {
    padding-bottom: 30px;
}


/*******************GESTION UTILISATEURS***************************************************/