.compte {
    background-color: rgba(255, 255, 0, 0.8);
    display: flex;
    flex-direction: column;
}


/******************FORMULAIRE***************************************/

.form {
    display: flex;
    flex-direction: column;
}

.formConnexion,
#formInscription {
    border: 4px solid #000000;
    padding: 100px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}

.formBloc {
    display: flex;
    flex-direction: column;
}

.formUpdateUser input,
.formConnexion input,
#formInscription input,
button {
    padding: 20px;
    margin: 10px;
    border: none;
    border-bottom-style: solid;
}

h2 {
    font-size: 40px;
}

.formInfo {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    padding: 20px;
    border: 3px solid black;
    box-shadow: 0 0 5px black;
    border-radius: 10px;
    animation: none;
    width: 100%;
    height: auto;
    background-color: rgba(0, 0, 0, 0.5);
    margin-bottom: 15px;
    color: white;
    text-align: center;
    align-items: center;
}

.formInfo a {
    text-decoration: none;
    color: white;
    font-size: 1.5em;
    transition: 0.5s;
    text-align: center;
}

.formInfo a:hover {
    text-shadow: 0 0 10px red;
}

.formInfo p {
    width: 100%;
    opacity: 1;
    text-shadow: 1px 1px #555555, -1px 1px #555555, 1px -1px #555555, -1px -1px #555555, 1px 1px 5px #555555;
    font-size: 1.2em;
    color: white;
    text-align: center;
}

.formInfo p:nth-child(1),
.formInfo p:nth-child(2) {
    animation: appear 5s 1 backwards;
}

#formInscription {
    text-align: center;
    background-color: white;
}

@media (max-width: 1000px) {
    form {
        font-size: 30px;
    }
    h2 {
        font-size: 35px;
    }
    .formConnexion,
    #formInscription {
        border: 4px solid #000000;
        padding: 60px;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .formInfo a,
    .formInfo p {
        display: flex;
        flex-direction: column;
        text-align: center;
        font-size: 1.2em;
    }
}


/*********************************INDEX****************************************************/

.Userindex {
    display: flex;
    flex-direction: column;
    background-color: #1cf50866;
}

.indexUser {
    display: flex;
    flex-direction: row;
    color: white;
}

.indexUser li {
    list-style: none;
    padding-right: 20px;
}

.li1,
.li2 {
    display: flex;
    flex-direction: row;
}

@media (max-width: 1000px) {
    .Userindex h2 {
        font-size: 25px;
        margin-bottom: 20px;
    }
    .indexUser {
        display: flex;
        flex-direction: column;
    }
    .li1,
    .li2 {
        display: flex;
        flex-direction: row;
    }
    .li2 {
        justify-content: center;
    }
}


/**********************************POP UP***************************************************/

#sectionVendeur {
    display: flex;
    flex-direction: column;
    list-style: none;
}

#myModal,
#myBtn {
    justify-content: center;
    align-items: center;
    justify-items: center;
    align-self: center;
    text-align: center;
    margin-bottom: 20px;
}

.close {
    float: right;
    font-size: 50px;
}

#myBtn {
    border: none;
    background-color: #1cf50866;
    border-radius: 10px;
    font-size: 25px;
    font-weight: bold;
}


/*************************MESSAGERIE******************************************************/

.sectionMessagerie li {
    list-style: none;
}

.liMessageTitle {
    border: none;
}

.messageDestinataire {
    color: pink;
    text-align: left;
    font-size: large;
    border: 1px solid black;
    border-radius: 5px;
}

.messageUtilisateur {
    color: blue;
    text-align: right;
    border: 1px solid black;
    border-radius: 5px;
}

#messagerie td {
    font-size: 20px;
    align-content: right;
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
}

#formMessagerie {
    display: flex;
    flex-direction: column;
}

#contenu {
    font-size: 15px;
    padding: 20px;
}

#listeMessages {
    display: block;
    overflow: auto;
    width: 300px;
    height: 300px;
    overflow-y: scroll;
}

.contenuInput {
    border: 1px solid black;
    border-radius: 20px;
    padding: 20px;
    font-size: 20px;
}

tr {
    font-size: 10px;
    margin: 40px;
}

.users {
    font-size: 20px;
}


/*****************TO DO LIST***************************************************************/

.sectionTdl li {
    list-style: none;
}

.sectionTdl input {
    border: none;
}

#tableLists {
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-content: space-around;
}

.list {
    padding-bottom: 30px;
}


/*******************GESTION UTILISATEURS***************************************************/

.modal a.close-modal {
    display: none;
    position: relative;
    border-radius: 0px;
}


/*MODALE */

.modal {
    margin-top: 10px;
    z-index: 100 !important;
    display: none;
    font-size: 80%;
    overflow-y: auto;
    overflow-x: auto;
    left: 0;
    max-width: 80%;
    max-height: 90%;
    top: 0;
    border-radius: 0px;
}