/** {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid black;
}*/


/*GENERAL*/

* {
    margin: 0;
    padding: 0;
    background-size: 100%;
    /*border: 1px solid black;*/
    font-family: 'Inconsolata', monospace;
}

body,
main,
article,
a {
    display: flex;
    flex-direction: column;
}

main {
    width: 100%;
    min-height: 80vh;
    flex-grow: 2;
    justify-content: space-around;
    overflow: hidden;
}

article {
    justify-content: space-around;
    align-items: center;
    width: 100%;
    flex-direction: row;
    height: 100%;
}

body {
    min-height: 100vh;
    justify-content: space-between;
}


/*HEADER*/

header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 30px;
    padding-top: 30px;
}

header a {
    text-decoration: none;
    font-size: 30px;
    color: black;
}


/*FOOTER*/

footer {
    margin-top: 25px;
    opacity: 0.3;
    transition: 0.5s;
    padding: 5px;
    font-size: 20px;
}